{% extends 'default.html' %}

{% block title %}
Bulletins
{% endblock title %}

{% block content %}
    <h1>Объявления ({{posts|length}})</h1>
    <form action="" method="get">
        {{filterset.form.as_table}}
        <input type="submit" value="Найти" />
    </form>
    {% if bulletins %}
    <table>
        {% for item in bulletins %}
        <tr style="font-size:20px" align="left">
            <td><a href="{{post.get_absolute_url}}"><b>{{item.header}}</b></a></td>
            <td>{{item.timestamp|date:'d M Y'}}</td>

        </tr>
        <tr>
            <td>{{item.body}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}
    {{page_obj.page_number}}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}